
@using DormitoryApplication.Models;
@model ViewModel;

@{
    ViewData["Title"] = "Talepler";
}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Talepler</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/Talepler.css" />
</head>

<body>
    <div class="page">
        <div class="sidebar">
            <div class="logo_bar">
               <div class="logo_img"><img src="/img/iu_logo-beyaz.png"></div>
               <div class="logo_name">Dormitory Application</div> 
            </div>
            
            <ul class="nav_list">
          <li>
            <a href="/Home/Index">
              <span class="links_name">Anasayfa</span>
            </a>
            <span class="tooltip">Anasayfa</span>
          </li>
          <li>
            <a href="/Home/Dorm_apply">
              <span class="links_name">Yurt Başvurusu</span>
            </a>
            <span class="tooltip">Yurt Başvurusu</span>
          </li>
          <li>
            <a href="/Home/Talepler">
              <span class="links_name">Talep</span>
            </a>
            <span class="tooltip">Talep</span>
          </li>
          <li>
            <a href="/Home/Odeme">
              <span class="links_name">Ödemeler</span>
            </a>
            <span class="tooltip">Ödemeler</span>
          </li>
          <li>
            <a href="/Home/Profile">
              <span class="links_name">Profilim</span>
            </a>
            <span class="tooltip">Profilim</span>
          </li>
        </ul>
            <div class="profile_content">
                <div class="name">@{
Context.Request.Cookies.TryGetValue("name", out string value2);
}
@value2</div>
                <div class="logout"><a href="/Home/Giris" id="logout"><i class="fa fa-sign-out" style="font-size:20px"></i></a> </div>
            </div>
        </div>

        <div class="home-content">
            <h1 style="margin-bottom: 2rem;">Talep Oluştur</h1>
            <div class="form-part">
                <form style="display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 100%;" action="/Home/Talep_sent" method="POST">
                    <div class="request-part">
                        <select class="request-list" name="reqType">
                            <option value="" disabled selected>Talep Listesi</option>
                             @foreach (RequestType reqtype in Model.reqs){
                            <option value="@reqtype.Id">@reqtype.Name</option>
                             }
                          </select>
                    </div>
                    <div class="dorm-type-part">
                        <select class="dorm-type-list" name="dormType">
                            
                            <option value="" disabled selected>Yurt Tipi</option>
                            
                         @foreach (DormType dormtype in Model.dt){
                            <option value="@dormtype.Name">@dormtype.Name</option>
                            
                         }
                          </select>
                    </div>
                    <div class="dorm-room-part">

                        <select class="dorm-room-list" name="dormNo">
                            <option value="" disabled selected>Oda</option>
                            
                        @foreach (AllDorms alldo in Model.dorms){
                            <option value="@alldo.DormNo">@alldo.DormNo</option>
                            
                         }
                          </select>
                    </div>
                    <div class="description-part" >
                        <textarea placeholder="Talebinizi Açıklayınız." name="description" class="description" cols="900" rows="15" style="resize: none; overflow: auto;"></textarea>
                    </div>
                    <div class="button-part">
                        <button class="btn-hover">Gönder</button>
                    </div>
                </form>
            </div>

            <div class="footer-img">
                <img class="waves" src="/img/wave.png" >
            </div>
            
            
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
</body>

</html>