@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "User Talep Detay";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oda Seçenekleri </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/Admin_talep_detay.css" />
</head>
<body>
    <div class="page">
        <div class="sidebar">
            <div class="logo_bar">
               <div class="logo_img"><img src="/img/iu_logo-beyaz.png"></div>
               <div class="logo_name">Dormitory Application</div> 
            </div>
            
            <ul class="nav_list">
          <li>
            <a href="/Home/Index">
              <span class="links_name">Anasayfa</span>
            </a>
            <span class="tooltip">Anasayfa</span>
          </li>
          <li>
            <a href="/Home/Dorm_apply">
              <span class="links_name">Yurt Başvurusu</span>
            </a>
            <span class="tooltip">Yurt Başvurusu</span>
          </li>
          <li>
            <a href="/Home/Talepler">
              <span class="links_name">Talep</span>
            </a>
            <span class="tooltip">Talep</span>
          </li>
          <li>
            <a href="/Home/Odeme">
              <span class="links_name">Ödemeler</span>
            </a>
            <span class="tooltip">Ödemeler</span>
          </li>
          <li>
            <a href="/Home/Profile">
              <span class="links_name">Profilim</span>
            </a>
            <span class="tooltip">Profilim</span>
          </li>
        </ul>
            <div class="profile_content">
                <div class="name">@{
Context.Request.Cookies.TryGetValue("name", out string value2);
}
@value2</div>
                <div class="logout"><a href="/Home/Giris" id="logout"><i class="fa fa-sign-out" style="font-size:20px"></i></a> </div>
            </div>
        </div>
        <div class="home_content">
            
            <div class="back-nav">
               <div><a href="/Home/Profile" id="geridon" style="color: black;"><i class="fa fa-chevron-left" style="font-size:20px"></i></a></div> 
               <div style="margin-left: 1rem;"><h4>Geri dön</h4></div>
            </div>
@model IEnumerable<Request>
                            @foreach(var item in Model)
                            {
            <div class="detail">
                
            <div class="row-content one">
                <h3>Oda: </h3>
                <p>@item.DormNo</p>
            </div>
            <div class="row-content two">
                <h3>Yurt Tipi: </h3>
                <p>@item.DormTypeName</p>
            </div>
            <div class="row-content three">
                <h3>Talep Tipi: </h3>
                <p>@item.RequestName</p>
            </div>
            <div class="row-content three">
                <h3>Talep: </h3>
                <div class="parag">
                    <p>@item.Description</p>
                </div>
            </div>
            <div class="row-content three">
                <h3>Cevap: </h3>
                <div class="parag">
                    <p>@item.Response</p>
                </div>
            </div>

            
        </div>

}
           </div> 
        
    </div>
</body>
</html>